body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #967c7c;
}

.traffic {
    background: #1a1515;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.light {
    width: 60px;
    height: 60px;
    background: #444;
    border-radius: 50%;
    margin: 10px 0;
}
